#information-container {
    width: 95%;
    max-width: 600px;
}

.hoverable:hover {
    background-color: var(--bs-btn-hover) !important;
}

.custom-floating {
    input {
        border-color: var(--bs-light-border);
        background-color: var(--bs-dark-secondary);
    }
 
    input:hover+label::after,
    textarea:hover+label::after,
    input:hover,
    textarea:hover {
        background-color: var(--bs-btn-hover) !important;
    }

    textarea {
        border-color: var(--bs-light-border);
        background-color: var(--bs-dark-secondary);
        min-height: 120px;
    }

    label::after {
        background-color: var(--bs-dark-secondary);
    }
}