<div class="py-5 px-3">
  <div class="w-100 mb-3 pb-2">
    <h2 class="mb-0 text-center text-primary-header">Editar perfil</h2>
  </div>
  <div
    id="information-container"
    class="bg-dark-secondary border border-light-border rounded-3 p-3 mx-auto"
  >
    <form method="post" [formGroup]="editForm" (ngSubmit)="submit()">
      <div class="form-floating custom-floating mb-3">
        <input
          type="text"
          class="form-control text-light fw-lighter"
          id="floatingUsername"
          placeholder="Usuario"
          value="nick_rod"
        />
        <label for="floatingUsername" class="fw-semibold text-shadow">Usuario</label>
      </div>

      <div class="form-floating custom-floating mb-3">
        <input
          type="text"
          class="form-control text-light fw-lighter"
          id="floatingInput"
          placeholder="Nombre"
          value="Nick"
        />
        <label for="floatingInput" class="fw-semibold text-shadow">Nombre</label>
      </div>

      <div class="form-floating custom-floating mb-3">
        <input
          type="text"
          class="form-control text-light fw-lighter"
          id="floatingInput"
          placeholder="Apellidos"
          value="Rodríguez"
        />
        <label for="floatingInput" class="fw-semibold text-shadow">Apellidos</label>
      </div>

      <div class="form-floating custom-floating mb-3">
        <input
          type="text"
          class="form-control text-light fw-lighter"
          id="floatingInput"
          placeholder="Cargo"
          value="Diseñador web"
        />
        <label for="floatingInput" class="fw-semibold text-shadow">Cargo</label>
      </div>

      <div class="form-floating custom-floating mb-3">
        <input
          type="email"
          class="form-control text-light fw-lighter"
          id="floatingInput"
          placeholder="Email"
          value="nick_rodriguez@warmhelp.com"
        />
        <label for="floatingInput" class="fw-semibold text-shadow">Email</label>
      </div>

      <div class="form-floating custom-floating mb-3">
        <input
          type="tel"
          class="form-control text-light fw-lighter"
          id="floatingPhone"
          placeholder="Teléfono"
          value="6665859"
        />
        <label for="floatingPhone" class="fw-semibold text-shadow">Teléfono</label>
      </div>

      <div class="form-floating custom-floating mb-3">
        <input
          type="tel"
          class="form-control text-light fw-lighter"
          id="floatingPhone"
          placeholder="Teléfono"
          value="6665859"
        />
        <label for="floatingPhone" class="fw-semibold text-shadow">Teléfono</label>
      </div>

      <div class="form-floating custom-floating mb-3">
        <input
          type="text"
          class="form-control text-light fw-lighter"
          id="floatingInput"
          placeholder="Dirección"
          value="Calle de la Palma, 12"
        />
        <label for="floatingInput" class="fw-semibold text-shadow">Dirección</label>
      </div>

      <div class="form-floating custom-floating mb-3">
        <textarea
          type="text"
          class="form-control text-light fw-lighter"
          id="floatingInput"
          placeholder="Dirección"
          value="Habla sobre ti..."
          >{{ descripcion }}</textarea
        >
        <label for="floatingInput" class="fw-semibold text-shadow">Descripción</label>
      </div>

      <div class="mb-0 d-flex flex-column gap-2">
        <button
          type="submit"
          class="btn btn-md p-3 btn-primary-container border border-primary text-white w-100"
          [disabled]="editForm.invalid"
        >
          Guardar cambios
        </button>
        <button
          class="btn btn-md p-3 btn-btn-inactive hoverable border border-light-border text-shadow w-100"
          [routerLink]="['/app/profile']"
        >
          Regresar
        </button>
      </div>
    </form>
  </div>
</div>
