.notification-container {
  top: 60px;
  right: -85px;
  width: 450px;
  min-width: 450px;

  .message-container {

    .item-message {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 25px;
      align-items: center;

      .content-item {
        width: calc(100% - 60px);
        margin: 0 0 0 auto;
      }

      .date-item {
        top: 3px;
        left: 3px;
        font-size: 12px;
      }

      .icon-item {
        width: 30px;
        height: 30px;
      }
    }
  }

  .message-container:hover {
    cursor: pointer;
    background-color: var(--bs-hover);
  }

  .hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .hover-color:hover {
    color: var(--bs-hover-active) !important;
    cursor: pointer;
  }
}
