<div
  class="notification-container slide-down-in position-absolute bg-dark-secondary shadow-lg rounded-3"
>
  <div
    class="d-flex flex-row align-items-center justify-content-between px-3 pt-3 pb-2 mb-2"
  >
    <span class="text-shadow fw-semibold">Notificaciones</span>
    <span class="text-title-sidebar fw-light small hover-color">Limpiar</span>
  </div>
  <hr class="text-border-shadow m-0" />

  <!-- Contenedor de los mensajes -->
  <div class="message-container p-2">
    <div class="item-message m-auto position-relative">
      <p class="m-0 text-shadow position-absolute date-item">14:00pm</p>
      <div class="content-item">
        <h6 class="mb-1 text-light text-end fw-light">Nueva subscripción creada</h6>
        <span class="small text-shadow fw-lighter">{{
          "Nueva subscripción creada" | truncateText
        }}</span>
      </div>
      <div
        class="icon-item d-flex align-items-center justify-content-center bg-info"
      >
        <i class="bi bi-flag-fill text-white"></i>
      </div>
    </div>
  </div>
  <hr class="text-border-shadow m-0" />
  <div class="text-center pt-1 pb-2">
    <span class="text-shadow small hover-underline">Leer todos</span>
  </div>
</div>
