<div id="change-password-container" class="bg-dark slide-down-in rounded-3 p-3">
  <div class="py-3 mb-2 text-center">
    <span class="fw-semibold text-primary display-6">Cambiar contraseña</span>
  </div>
  <form method="post" [formGroup]="passwordForm" (ngSubmit)="submit()">
    <!-- Contraseña Actual -->
    <div class="form-floating custom-floating mb-3 position-relative">
      <input
        id="floatingCurrentPassword"
        class="form-control text-light"
        [type]="passwordVisible ? 'text' : 'password'"
        formControlName="currentPassword"
        placeholder="Contraseña actual"
        [class.is-invalid]="
          passwordForm.get('currentPassword')?.invalid &&
          passwordForm.get('currentPassword')?.touched
        "
      />
      <label
        for="floatingCurrentPassword"
        class="form-label text-shadow fw-semibold"
        >Contraseña actual</label
      >
      <button
        type="button"
        class="btn position-absolute end-0 me-2 top-50 translate-middle-y"
        *ngIf="passwordForm.get('currentPassword')?.value"
        (click)="togglePasswordVisibility()"
      >
        <i
          class="bi text-shadow"
          [ngClass]="passwordVisible ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
        ></i>
      </button>

      <div
        class="invalid-feedback"
        *ngIf="
          passwordForm.get('currentPassword')?.invalid &&
          passwordForm.get('currentPassword')?.touched
        "
      >
        La contraseña actual es obligatoria.
      </div>
    </div>

    <!-- Contraseña Nueva -->
    <div class="form-floating custom-floating mb-3 position-relative">
      <input
        id="floatingNewPassword"
        class="form-control text-light"
        [type]="passwordVisible ? 'text' : 'password'"
        formControlName="newPassword"
        placeholder="Contraseña Nueva"
        [class.is-invalid]="
          passwordForm.get('newPassword')?.invalid &&
          passwordForm.get('newPassword')?.touched
        "
      />
      <label
        for="floatingNewPassword"
        class="form-label text-shadow fw-semibold"
        >Contraseña nueva</label
      >
      <button
        type="button"
        class="btn position-absolute end-0 me-2 top-50 translate-middle-y"
        *ngIf="passwordForm.get('newPassword')?.value"
        (click)="togglePasswordVisibility()"
      >
        <i
          class="bi text-shadow"
          [ngClass]="passwordVisible ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
        ></i>
      </button>

      <div
        class="invalid-feedback"
        *ngIf="
          passwordForm.get('newPassword')?.invalid &&
          passwordForm.get('newPassword')?.touched
        "
      >
        La contraseña nueva es obligatoria.
      </div>
    </div>

    <div class="mb-0 d-flex flex-column gap-2">
      <button
        type="submit"
        class="btn btn-md p-3 btn-primary-container border border-primary text-white w-100"
        [disabled]="passwordForm.invalid"
      >
        Guardar cambios
      </button>
      <button
        class="btn btn-md p-3 btn-btn-inactive hoverable border border-light-border text-shadow w-100"
        (click)="closeChangePassword()"
      >
        Regresar
      </button>
    </div>
  </form>
</div>
