<div class="d-flex flex-column gap-5 p-3 h-100 animate-width">
  <div id="description-container" class="px-3 pt-5">
    <span
      >I have 10 years of experience designing for the web, focusing on user
      interface design, interaction design, visual design, and prototyping. My
      work is rooted in creating intuitive and engaging digital experiences.
      I've had the privilege of collaborating with notable startups, including
      Pearl Street Software, to help bring their web visions to life.</span
    >
  </div>

  <div id="skills-container" class="w-100 p-3">
    <ul class="list-unstyled d-flex gap-3 justify-content-center m-0">
      <li
        class="bg-violet-graphics text-white py-1 ps-3 pe-2 rounded-start-5 text-end d-flex align-items-center"
      >
        Web Designer
      </li>
      <li
        class="bg-green-graphics text-white py-1 ps-3 pe-2 rounded-start-5 text-end d-flex align-items-center"
      >
        UI/UX Specialist
      </li>
      <li
        class="bg-info text-white py-1 ps-3 pe-2 rounded-start-5 text-end d-flex align-items-center"
      >
        Interaction Design
      </li>
      <li
        class="bg-shadow text-white py-1 ps-3 pe-2 rounded-start-5 text-end d-flex align-items-center"
      >
        Prototyping
      </li>
    </ul>
  </div>

  <div id="contact-info-container">
    <span class="fs-5 fw-bold text-primary">Contact Information</span>
    <hr class="text-border-shadow" />
    <div class="row ps-5">
      <span class="fw-bold col">Url</span>
      <a href="www.example.com" class="text-decoration-none col"
        >www.example.com</a
      >
    </div>
    <hr class="text-border-shadow" />
    <div class="row ps-5">
      <span class="fw-bold col">Email</span>
      <a href="www.example.com" class="text-decoration-none col"
        >jonathandeo&#64;example.com</a
      >
    </div>
    <hr class="text-border-shadow" />
    <div class="row ps-5">
      <span class="fw-bold col">Phone</span>
      <span class="col">(123)-456-7890</span>
    </div>
    <hr class="text-border-shadow" />
  </div>
</div>
