<div
  class="bg-dark border border-light-border d-flex flex-column justify-content-around rounded-2 py-3 shadow-sm h-100"
>
  <div class="px-4">
    <span class="text-shadow fs-5 fw-bold"
      >Advertising & Promotions
    </span>
  </div>

  <div class="chart-container d-flex justify-content-center align-items-center h-100 w-100 p-3 px-5">
    <div class="canvas-container">
      <canvas
        baseChart
        [data]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [type]="barChartType"
      >
      </canvas>
    </div>
  </div>

  <hr class="text-light-border">

  <div class="mx-3 d-flex justify-content-between">
    <div class="legend w-100 d-flex justify-content-around">
      <div>
        <span class="bg-info-container p-2 me-2"></span>
        <span class="text-light fw-lighter">Active</span>
      </div>
    </div>

    <div class="legend w-100 d-flex justify-content-around">
      <div>
        <span class="bg-danger-container p-2 me-2"></span>
        <span class="text-light fw-lighter">Closed</span>
      </div>
    </div>

    <div class="legend w-100 d-flex justify-content-around">
      <div>
        <span class="bg-shadow-container p-2 me-2"></span>
        <span class="text-light fw-lighter">Hold</span>
      </div>
    </div>
  </div>


</div>
