<div class="bg-dark-container border-bottom border-light-border shadow-sm">
  <header class="d-flex align-items-center justify-content-between px-3">
    <div id="header-container" class="d-flex gap-4 align-items-center">
      <!--Menú-->
      <div id="toggle-icon-container p-3" class="pt-2">
        <i
          class="bi bi-list fs-4 p-1 rounded-3"
          (click)="toggleLogo()"
          [class.bg-primary]="isActiveToggle"
          [class.text-dark]="isActiveToggle"
          [class.text-icon-inactive]="!isActiveToggle"
          [class.hoverable]="!isActiveToggle"
          onkeydown=""
        ></i>
      </div>

      <!--Logo-->
      <div id="logo-container" class="flex-column align-items-end">
        <a [routerLink]="['/app']" class="text-decoration-none">
          <img src="logo-simple.svg" alt="Logo" height="30" />
        </a>
      </div>

      <!--Barra búsqueda-->
      <div id="search-container" class="input-group border border-1 border-light-border rounded-5">
        <input
        id="search-input"
        type="text"
        placeholder="Buscar..."
        class="form-control bg-dark border-0 rounded-start-5"
        />
        <span class="input-group-text bg-dark rounded-end-5">
          <i class="bi bi-search text-icon-inactive"></i>
        </span>
      </div>
    </div>

    <!--Botones-->
    <div
      id="buttons-container"
      class="d-flex gap-4 ms-3 text-end align-items-center"
    >
      <!--Notificaciones-->
      <div
        id="notification-icon-container"
        class="icon-container position-relative"
      >
        <i
          class="bi bi-bell-fill fs-4"
          (click)="toggleItem('isActiveNotification')"
          (keydown)="toggleItem('isActiveNotification')"
        ></i>
        <span
          class="position-absolute fw-semibold rounded-circle small d-flex align-items-center justify-content-center bg-violet-border text-white"
          ></span
        >
        <ng-container *ngIf="isActiveItems.isActiveNotification">
          <app-tab-notification></app-tab-notification>
        </ng-container>
      </div>
      <!--Ajustes-->
      <div id="settings-icon-container" class="icon-container">
        <i
          class="bi bi-gear-fill fs-4"
          (click)="toggleItem('isActiveSettings')"
          (keydown)="toggleItem('isActiveSettings')"
        ></i>
      </div>
      <!-- Perfil -->
      <div
        id="profile-icon-container"
        class="icon-container position-relative rounded-circle d-flex align-items-center justify-content-center"
        (click)="toggleItem('isActiveProfile')"
        (keydown)="toggleItem('isActiveProfile')"
      >
        <img src="profile.jpg" alt="profile" class="profile-img" />
        <span class="rounded-circle bg-success position-absolute"></span>
        <ng-container *ngIf="isActiveItems.isActiveProfile">
          <app-tab-profile></app-tab-profile>
        </ng-container>
      </div>
    </div>
  </header>
  <ng-container *ngIf="isActiveItems.isActiveSettings">
    <app-tab-settings></app-tab-settings>
  </ng-container>
</div>
