header {
    height: 70px;
    user-select: none;
}

#search-container{
    ::placeholder {
        color: var(--bs-shadow);
        font-weight: 300;
    }
}

#logo-container {
    display: none;
}

.input-group-text {
    border: none !important;

    i {
        font-size: 1rem;
    }
}

#notification-icon-container {
    span {
        width: 15px;
        height: 15px;
        z-index: 3;
        right: -5px;
        top: 0px;
    }
}

#profile-icon-container {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: 2px solid var(--bs-icon-inactive);

    span {
        width: 15px;
        height: 15px;
        display: block;
        z-index: 2;
        bottom: -3px;
        right: 0;
    }

    .profile-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

#profile-icon-container:hover {
    border-color: var(--bs-primary) !important;
}

i {
    cursor: pointer;
    color: var(--bs-icon-inactive);
}

.icon-container:hover {
    i {
        color: var(--bs-primary) !important;
    }
}

.hoverable:hover {
    background-color: var(--bs-sidebar);
    color: var(--bs-primary) !important;
}

@media (max-width: 1099px) {

    #header-container {
        flex-grow: 1;
        justify-content: space-between;

        #logo-container {
            display: flex;
        }

        #search-container {
            justify-content: flex-end;
            width: auto;
            border: none !important;

            input {
                display: none;
            }

            .input-group-text {
                background-color: var(--bs-dark) !important;

                i {
                    font-size: 1.4rem;
                    color: var(--bs-icon-inactive) !important;
                }

                &:hover {
                    i {
                        color: var(--bs-primary) !important;
                    }
                }
            }
        }
    }
}