<!-- Social Campaigns -->
<div id="social-campaigns-container">
    <div class="bg-dark border border-light-border rounded-2 shadow-sm h-100 pt-3">
      <div class="px-4 pb-2">
        <span class="text-shadow fw-bold fs-5"
          >Social Campaigns</span
        >
      </div>
      <div class="table-responsive rounded-bottom-2">
        <table class="table table-hover mb-0 align-middle">
          <thead>
            <tr>
              <th class="text-uppercase text-shadow">Status</th>
              <th class="text-uppercase text-shadow">Campaign</th>
              <th class="text-uppercase text-shadow">Client</th>
              <th class="text-uppercase text-shadow">Changes</th>
              <th class="text-uppercase text-shadow">Budget</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="fw-semibold">Facebook</span></td>
              <td>Beavis</td>
              <td>
                <span class="text-success fw-normal"
                  ><i class="bi bi-caret-up-fill me-2"></i
                  ><span>2.43%</span></span
                >
              </td>
              <td>
                <span class="fw-normal">$1478</span>
              </td>
              <td>
                <span class="status-container bg-info-container border border-info text-light fw-light px-2 rounded-pill">Active</span>
              </td>
            </tr>
            <tr>
              <td><span class="fw-semibold">Youtube</span></td>
              <td>Felix</td>
              <td>
                <span class="text-success fw-normal"
                  ><i class="bi bi-caret-up-fill me-2"></i
                  ><span>1.43%</span></span
                >
              </td>
              <td>
                <span class="fw-normal">$951</span>
              </td>
              <td>
                <span class="status-container bg-danger-container border border-danger text-light fw-light px-2 rounded-pill">Closed</span>
              </td>
            </tr>
            <tr>
              <td><span class="fw-semibold">Twitter</span></td>
              <td>Cannibus</td>
              <td>
                <span class="text-danger fw-normal"
                  ><i class="bi bi-caret-down-fill me-2"></i
                  ><span>-8.43%</span></span
                >
              </td>
              <td>
                <span class="fw-normal">$632</span>
              </td>
              <td>
                <span class="status-container bg-shadow-container border border-shadow text-light fw-light px-2 rounded-pill">Hold</span>
              </td>
            </tr>
            <tr>
              <td><span class="fw-semibold">Spotify</span></td>
              <td>Neosoft</td>
              <td>
                <span class="text-success fw-normal"
                  ><i class="bi bi-caret-up-fill me-2"></i
                  ><span>7.43%</span></span
                >
              </td>
              <td>
                <span class="fw-normal">$325</span>
              </td>
              <td>
                <span class="status-container bg-shadow-container border border-shadow text-light fw-light px-2 rounded-pill">Hold</span>
              </td>
            </tr>
            <tr>
              <td><span class="fw-semibold">Instagram</span></td>
              <td>Hencework</td>
              <td>
                <span class="text-success fw-normal"
                  ><i class="bi bi-caret-up-fill me-2"></i
                  ><span>9.43%</span></span
                >
              </td>
              <td>
                <span class="fw-normal">$258</span>
              </td>
              <td>
                <span class="status-container bg-info-container border border-info text-light fw-light px-2 rounded-pill">Active</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
