<!-- Social Campaigns -->
<div id="social-campaigns-container">
    <div class="bg-light-container rounded-2 shadow-sm h-100 pt-3">
      <div class="d-flex justify-content-center">
        <span class="text-primary fw-bold text-uppercase pb-3"
          >social campaigns</span
        >
      </div>
      <div class="table-responsive">
        <table class="table table-hover mb-0 align-middle">
          <thead>
            <tr>
              <th class="text-uppercase">Campaign</th>
              <th class="text-uppercase">Client</th>
              <th class="text-uppercase">Changes</th>
              <th class="text-uppercase">Budget</th>
              <th class="text-uppercase">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="fw-bold">Facebook</span></td>
              <td>Beavis</td>
              <td>
                <span class="text-success"
                  ><i class="bi bi-caret-up-fill me-2"></i
                  ><span>2.43%</span></span
                >
              </td>
              <td>
                <span class="fw-bold">$1478</span>
              </td>
              <td>
                <span class="status-container bg-info text-white px-2 rounded-pill">Active</span>
              </td>
            </tr>
            <tr>
              <td><span class="fw-bold">Youtube</span></td>
              <td>Felix</td>
              <td>
                <span class="text-success"
                  ><i class="bi bi-caret-up-fill me-2"></i
                  ><span>1.43%</span></span
                >
              </td>
              <td>
                <span class="fw-bold">$951</span>
              </td>
              <td>
                <span class="status-container bg-danger text-white px-2 rounded-pill">Closed</span>
              </td>
            </tr>
            <tr>
              <td><span class="fw-bold">Twitter</span></td>
              <td>Cannibus</td>
              <td>
                <span class="text-danger"
                  ><i class="bi bi-caret-down-fill me-2"></i
                  ><span>-8.43%</span></span
                >
              </td>
              <td>
                <span class="fw-bold">$632</span>
              </td>
              <td>
                <span class="status-container bg-shadow text-white px-2 rounded-pill">Hold</span>
              </td>
            </tr>
            <tr>
              <td><span class="fw-bold">Spotify</span></td>
              <td>Neosoft</td>
              <td>
                <span class="text-success"
                  ><i class="bi bi-caret-up-fill me-2"></i
                  ><span>7.43%</span></span
                >
              </td>
              <td>
                <span class="fw-bold">$325</span>
              </td>
              <td>
                <span class="status-container bg-shadow text-white px-2 rounded-pill">Hold</span>
              </td>
            </tr>
            <tr>
              <td><span class="fw-bold">Instagram</span></td>
              <td>Hencework</td>
              <td>
                <span class="text-success"
                  ><i class="bi bi-caret-up-fill me-2"></i
                  ><span>9.43%</span></span
                >
              </td>
              <td>
                <span class="fw-bold">$258</span>
              </td>
              <td>
                <span class="status-container bg-info text-white px-2 rounded-pill">Active</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
