.success-container {
    width: 95%;
    max-width: 500px;
    min-height: calc(100vh - 135px);

    i {
        font-size: 100px;
    }

    button:hover {
        background-color: var(--bs-btn-hover);
        border-color: var(--bs-btn-hover);
    }
}