<div
  class="notification-container slide-down-in position-absolute bg-light-container shadow-lg rounded-2"
>
  <div class="message-container d-flex flex-column h-100">

    <ul class="list-unstyled d-flex flex-column justify-content-around my-3 h-100">

      <li class="p-0 items-menu hoverable px-3">
        <a class="text-white text-decoration-none d-flex align-items-center"
        href="app/profile"
        >
          <i class="bi bi-person-fill text-primary hoverable pe-2"></i>
          <span class="items-menu-span text-black"> Profile </span>
        </a>
      </li>

      <li class="p-0 items-menu hoverable px-3">
        <a class="text-white text-decoration-none d-flex align-items-center">
          <i class="bi bi-pencil-fill text-primary hoverable pe-2"></i>
          <span class="items-menu-span text-black"> Edit profile </span>
        </a>
      </li>

      <li class="p-0 items-menu hoverable px-3">
        <a class="text-white text-decoration-none d-flex align-items-center">
          <i class="bi bi-door-open-fill text-primary hoverable pe-2"></i>
          <span class="items-menu-span text-black"> Log Out </span>
        </a>
      </li>

    </ul>
  </div>
</div>
