<div id="profile-container" class="container mb-5">
  <!-- Perfil Header -->
  <div class="row gy-3">
    <div class="col-12 col-lg-4">
      <div
        id="profile-header-container"
        class="rounded-5 border border-light-border bg-dark-secondary sticky-top"
      >
        <!-- Perfil Cover -->
        <div id="profile-cover-container" class="rounded-top-5 h-50">
          <img
            src="profile-background.jpg"
            alt="profile-background"
            class="background-img"
          />
        </div>

        <!-- Perfil Data -->
        <div id="profile-data-container" class="w-100">
          <div
            id="profile-photo-container"
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <div class="profile-img-wrapper">
              <img src="profile.jpg" alt="profile" class="profile-img" />
            </div>
          </div>

          <div
            id="profile-name-container"
            class="d-flex flex-column align-items-center"
          >
            <h4 class="text-light fw-bolder">Nick Rodríguez</h4>
            <span class="text-shadow fw-light">Web Designer</span>
            <span class="text-shadow fw-lighter">desde 2021</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Perfil Body Nav -->
    <div class="col-12 col-lg-8">
      <div id="profile-body-container" class="d-flex flex-column gap-3">
        <!-- Información del perfil -->
        <div
          id="information-container"
          class="bg-dark-secondary border border-light-border rounded-3"
        >
          <div class="p-3 pb-2">
            <span class="text-shadow fw-bold fs-5">Información</span>
          </div>

          <div class="property-container p-3">
            <div class="mb-2">
              <span class="text-shadow fw-semibold fs-6">Usuario</span>
            </div>
            <div
              class="bg-dark-secondary hoverable border border-light-border text-light p-3 rounded-3"
            >
              <i class="bi bi-at me-2"></i>
              <span class="fw-light">nick_rod</span>
            </div>
          </div>

          <div class="property-container p-3">
            <div class="mb-2">
              <span class="text-shadow fw-semibold fs-6">Email</span>
            </div>
            <div
              class="bg-dark-secondary hoverable border border-light-border text-light p-3 rounded-3"
            >
              <i class="bi bi-envelope-fill me-2"></i>
              <span class="fw-light">nick_rodriguez&#64;warmhelp.com</span>
            </div>
          </div>

          <div class="property-container p-3">
            <div class="mb-2">
              <span class="text-shadow fw-semibold fs-6">Teléfono</span>
            </div>
            <div
              class="bg-dark-secondary hoverable border border-light-border text-light p-3 rounded-3"
            >
              <i class="bi bi-telephone-fill me-2"></i>
              <span class="fw-light">6665859</span>
            </div>
          </div>

          <div class="property-container p-3">
            <div class="mb-2">
              <span class="text-shadow fw-semibold">Dirección</span>
            </div>
            <div
              class="bg-dark-secondary hoverable border border-light-border text-light p-3 rounded-3"
            >
              <i class="bi bi-house-fill me-2"></i>
              <span class="fw-light">Calle de la Palma, 12</span>
            </div>
          </div>

          <div class="property-container p-3 rounded-bottom-3">
            <div class="mb-2">
              <span class="text-shadow fw-semibold">Descripción</span>
            </div>
            <div
              class="bg-dark-secondary hoverable border border-light-border text-light p-3 rounded-3"
            >
              <p class="m-0 fw-light">
                Diseñador web con experiencia en diseño UX/UI y desarrollo de
                sitios responsivos. Apasionado por crear experiencias digitales
                intuitivas y atractivas.
              </p>
            </div>
          </div>
        </div>

        <!-- Opciones -->
        <div
          id="options-container"
          class="bg-dark-secondary border border-light-border rounded-3 p-3"
        >
          <div class="pb-3">
            <span class="text-shadow fw-bold fs-5">Opciones</span>
          </div>
          <div class="row gy-2">
            <div class="w-100">
              <a class="" [routerLink]="['/app/edit-profile']">
                <button
                  class="hoverable btn btn-btn-inactive border border-light-border text-shadow py-2 w-100"
                >
                  Editar perfil
                </button>
              </a>
            </div>
            <div class="w-100">
              <a class="" [routerLink]="['/app/edit-profile']">
                <button
                  class="hoverable btn btn-btn-inactive border border-light-border text-shadow py-2 w-100"
                >
                  Cambiar contraseña
                </button>
              </a>
            </div>
            <div class="w-100">
              <a class="" [routerLink]="['/app/edit-profile']">
                <button class="btn btn-danger-container border border-danger text-white py-2 w-100">
                  Borrar cuenta
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
