<div class="py-5 px-3">
  <div class="w-100 mb-3 pb-2">
    <h2 class="mb-0 text-center text-primary-header">Mis productos</h2>
  </div>
  <div id="create-product-row" class="w-100 mb-3 pb-2 d-flex justify-content-end">
    <button
      class="btn btn-md py-2 px-4 btn-primary-container border border-primary text-white d-flex align-items-center"
    >
      <i class="bi bi-plus-circle me-2"></i>
      Añadir producto
    </button>
  </div>
  <div
    id="information-container"
    class="bg-dark-secondary border border-light-border rounded-3 p-3 mx-auto"
  >
    
  </div>
</div>
