<div class="visits-row-container gap-3">
  <div class="h-100">
    <!-- Visits -->
    <div
      class="bg-dark border border-light-border d-flex flex-column justify-content-around rounded-2 shadow-sm py-3 h-100"
    >
      <div class="px-4">
        <span class="text-shadow fs-5 fw-bold">Visits</span>
      </div>
      <div
        class="chart-container d-flex justify-content-center align-items-center h-100 w-100 py-3"
      >
        <app-visits-graphic></app-visits-graphic>
      </div>

      <hr class="text-light-border" />

      <div class="px-4">
        <div class="legend w-100 d-flex justify-content-between">
          <div>
            <span class="bg-info-container p-2 me-2"></span>
            <span class="text-light fw-lighter">Organic</span>
          </div>
          <span class="text-light fw-light">44.46%</span>
        </div>

        <div class="legend w-100 d-flex justify-content-between">
          <div>
            <span class="bg-warning-container p-2 me-2"></span>
            <span class="text-light fw-lighter">Referal</span>
          </div>
          <span class="text-light fw-light">5.54%</span>
        </div>

        <div class="legend w-100 d-flex justify-content-between">
          <div>
            <span class="bg-primary-container p-2 me-2"></span>
            <span class="text-light fw-lighter">Others</span>
          </div>
          <span class="text-light fw-light">50%</span>
        </div>
      </div>
    </div>
  </div>

  <div class="h-100">
    <div class="d-flex flex-column h-100 justify-content-between gap-3">
      <!-- Customer Satisfaction -->
      <div
        class="bg-dark border border-light-border d-flex flex-column justify-content-around rounded-2 shadow-sm h-50 py-3"
      >
        <div class="px-4">
          <span class="text-shadow fs-5 fw-bold">Customer Satisfaction</span>
        </div>
        <div class="w-100 text-success fw-bold d-flex align-items-center">
          <div
            class="customer-satisfaction w-100 d-flex flex-column align-items-center"
          >
            <span class="stroke-success">80.2%</span>
          </div>
        </div>
        <!-- Barra progreso -->
        <div class="px-4">
          <div class="progress bg-dark-secondary border border-success">
            <div
              class="progress-bar border-end border-success bg-success-container"
              role="progressbar"
              style="width: 80.2%"
              aria-valuenow="80.2"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <hr class="text-light-border" />

        <div class="px-4">
          <ul class="d-flex justify-content-between list-unstyled m-0">
            <li class="d-flex flex-column align-items-center">
              <span class="d-block text-light fw-lighter">Previous</span>
              <span class="d-block text-light fw-light fs-5">80.2%</span>
            </li>
            <li class="d-flex flex-column align-items-center">
              <span class="d-block text-light fw-lighter">% Change</span>
              <span class="d-block text-light fw-light fs-5">+18</span>
            </li>
            <li class="d-flex flex-column align-items-center">
              <span class="d-block text-light fw-lighter">Trend</span>
              <i class="bi bi-graph-up-arrow text-success fs-4"></i>
            </li>
          </ul>
        </div>
      </div>

      <!-- Browser Stats -->
      <div
        class="bg-dark border border-light-border d-flex flex-column justify-content-around rounded-2 shadow-sm h-50 py-3"
      >
        <div class="px-4 mb-2">
          <span class="text-shadow fs-5 fw-bold">Browser Stats</span>
        </div>
        <div class="">
          <div class="d-flex justify-content-between hoverable py-2 px-4">
            <span class="text-light fw-lighter">Google Chrome</span>
            <span
              class="browser-percents-container bg-info-container border border-info text-light fw-light px-2 rounded-pill"
              >50%</span
            >
          </div>
          <hr class="text-light-border m-0" />
          <div class="d-flex justify-content-between hoverable py-2 px-4">
            <span class="text-light fw-lighter">Safari</span>
            <span
              class="browser-percents-container bg-success-container border border-success text-light fw-light px-2 rounded-pill"
              >15%</span
            >
          </div>
          <hr class="text-light-border m-0" />
          <div class="d-flex justify-content-between hoverable py-2 px-4">
            <span class="text-light fw-lighter">Mozilla Firefox</span>
            <span
              class="browser-percents-container bg-warning-container border border-warning text-light fw-light px-2 rounded-pill"
              >20%</span
            >
          </div>
          <hr class="text-light-border m-0" />
          <div class="d-flex justify-content-between hoverable py-2 px-4">
            <span class="text-light fw-lighter">Microsoft Edge</span>
            <span
              class="browser-percents-container bg-danger-container border border-danger text-light fw-light px-2 rounded-pill"
              >15%</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
