.settings-container {
    width: 75%;
    max-width: 275px;
    top: 70px;
    right: 0px;
    bottom: 0;

    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.boton-4 {
    width: 200px;
}

.background-warning{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-shadow: 2px 2px 3px black;  
    background: repeating-linear-gradient(
        45deg, 
        yellow 0px, 
        yellow 20px, 
        black 20px, 
        black 40px
    );
}

@media (max-width: 992px) {
    .boton-4 {
        width: 80%;
    }
}


@media (min-width: 769px) and (max-width: 992px) {
    .boton-5 {
        display: none;
    }
}