<div class="bg-dark">
  <header
    class="container d-flex align-items-center justify-content-md-between py-3 mb-4"
  >
    <a
      href="/"
      class="d-flex align-items-center text-dark text-decoration-none"
    >
      <img src="logo.svg" alt="Logo" height="30" />
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link fst-italic px-2 link-light">Home</a></li>
      <li>
        <a href="#" class="nav-link fst-italic px-2 link-primary">Features</a>
      </li>
      <li>
        <a href="#" class="nav-link fst-italic px-2 link-primary">Pricing</a>
      </li>
      <li>
        <a href="#" class="nav-link fst-italic px-2 link-primary">FAQs</a>
      </li>
      <li>
        <a href="#" class="nav-link fst-italic px-2 link-primary">About</a>
      </li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-primary text-light fst-italic me-2">
        Iniciar Sesión
      </button>
      <button type="button" class="btn btn-primary text-light fst-italic">
        Registro
      </button>
    </div>
  </header>
</div>
